<form action="<?= $block->escapeUrl($block->getSaveUrl()) ?>" method="post" id="form-validate" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
	<?= $block->getBlockHtml('formkey') ?>

	<fieldset class="fieldset" style="width: 48%;">
		<legend class="legend">
			<span>Order Details</span>
		</legend>

		<br />

		<div class="field field-name-external_ref required">
			<label class="label" for="external_ref">
				<span>Order Number</span>
			</label>

			<div class="control">
				<input type="text" id="external_ref" name="external_ref" class="input-text required-entry" data-validate="{required:true}" aria-required="true" value="<?= $block->escapeHtml($block->getOrderData()['external_ref']) ?? '' ?>" />
			</div>
		</div>

		<div class="field field-name-shipping_method required">
			<label class="label" for="shipping_method">
				<span>Shipping Method</span>
			</label>

			<div class="control">
				<select name="shipping_method">
					<?php foreach($block->getShippingMethods() as $method): ?>
						<option <?php if($block->getOrderData()['shipping_method'] == $method['value']): ?>selected="selected"<?php endif; ?> value="<?= $block->escapeHtml($method['value']) ?>"><?= $block->escapeHtml($method['label']) ?></option>
					<?php endforeach; ?>
				</select>
			</div>
		</div>

		<?php foreach($block->getCustomOrderAttributes() as $key): ?>
		<div class="field field-name">
			<label class="label" for="<?= md5($key) ?>">
				<span><?= $block->escapeHtml($key) ?></span>
			</label>

			<div class="control">
				<input type="text" id="<?= md5($key) ?>" name="attributes[<?= $block->escapeHtml($key) ?>]" class="input-text" />
			</div>
		</div>
	<?php endforeach; ?>
	</fieldset>

	<fieldset class="fieldset" style="width: 48%;">
		<legend class="legend">
			<span>Shipping Address</span>
		</legend>

		<br />

		<div class="field field-name-shipping_company">
			<label class="label" for="shipping_company">
				<span>Company</span>
			</label>

			<div class="control">
				<input type="text" id="shipping_company" name="shipping_company" class="input-text" value="<?= $block->escapeHtml($block->getOrderData()['shipping_company']) ?? '' ?>" />
			</div>
		</div>

		<div class="field field-name-customer_name required">
			<label class="label" for="customer_name">
				<span>Name</span>
			</label>

			<div class="control">
				<input type="text" id="customer_name" name="customer_name" class="input-text required-entry" data-validate="{required:true}" aria-required="true" value="<?= $block->escapeHtml($block->getOrderData()['customer_name']) ?? '' ?>" />
			</div>
		</div>

		<div class="field field-name-shipping_address_1 required">
			<label class="label" for="shipping_address_1">
				<span>Address Line 1</span>
			</label>

			<div class="control">
				<input type="text" id="shipping_address_1" name="shipping_address_1" class="input-text required-entry" data-validate="{required:true}" aria-required="true" value="<?= $block->escapeHtml($block->getOrderData()['shipping_address_1']) ?? '' ?>" />
			</div>
		</div>

		<div class="field field-name-shipping_address_2">
			<label class="label" for="shipping_address_2">
				<span>Address Line 2</span>
			</label>

			<div class="control">
				<input type="text" id="shipping_address_2" name="shipping_address_2" class="input-text"  value="<?= $block->escapeHtml($block->getOrderData()['shipping_address_2']) ?? '' ?>" />
			</div>
		</div>

		<div class="field field-name-shipping_address_4 required">
			<label class="label" for="shipping_address_4">
				<span>Town / City</span>
			</label>

			<div class="control">
				<input type="text" id="shipping_address_4" name="shipping_address_4" class="input-text required-entry" data-validate="{required:true}" aria-required="true" value="<?= $block->escapeHtml($block->getOrderData()['shipping_address_4']) ?? '' ?>" />
			</div>
		</div>

		<div class="field region required">
            <label class="label" for="region_id">
                <span>Region / State</span>
            </label>

            <div class="control">
                <select id="region_id" name="region_id" class="validate-select region_id">
                    <option value=""><?= $block->escapeHtml(__('Please select a region, state or province.')) ?></option>
                </select>

                <input type="text"
                       id="region"
                       name="region"
                       value="<?= $block->escapeHtmlAttr($block->getOrderData()['shipping_address_5']) ?>"
                       class="input-text validate-not-number-first <?= $block->escapeHtmlAttr($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('region')) ?>" />
            </div>
        </div>

		<div class="field field-name-shipping_postcode required">
			<label class="label" for="shipping_postcode">
				<span>Postcode / Zipcode</span>
			</label>

			<div class="control">
				<input type="text" id="shipping_postcode" name="shipping_postcode" class="input-text required-entry" data-validate="{required:true}" aria-required="true" value="<?= $block->escapeHtml($block->getOrderData()['shipping_postcode']) ?? '' ?>" />
			</div>
		</div>

		<div class="field country required">
            <label class="label" for="country">
				<span>Country</span>
			</label>

            <div class="control">
                <?= $block->getCountryHtmlSelect($block->getOrderData()['shipping_country_code'], 'shipping_country_code', 'country') ?>
            </div>
        </div>
	</fieldset>

	<fieldset class="fieldset" style="width: 48%;">
		<legend class="legend">
			<span>Item Details</span>
		</legend>

		<br />

		<div class="field field-name-sku required">
			<label class="label" for="sku">
				<span>SKU</span>
			</label>

			<div class="control">
				<input type="text" id="sku" name="sku" class="input-text required-entry" data-validate="{required:true}" aria-required="true" value="<?= $block->escapeHtml($block->getOrderData()['sku']) ?? '' ?>" />
			</div>
		</div>

		<div class="field field-name-quantity required">
			<label class="label" for="quantity">
				<span>Quantity</span>
			</label>

			<div class="control">
				<input type="number" id="quantity" name="quantity" class="input-text required-entry" data-validate="{required:true}" aria-required="true" value="<?= $block->escapeHtml($block->getOrderData()['quantity']) ?? '' ?>" />
			</div>
		</div>

		<div class="field field-name-external_url required">
			<label class="label" for="quantity">
				<span>Image URL</span>
			</label>

			<div class="control">
				<input type="text" id="external_url" name="external_url" class="input-text required-entry" data-validate="{required:true}" aria-required="true" value="<?= $block->escapeHtml($block->getOrderData()['external_url']) ?? '' ?>" />
			</div>
		</div>

		<div class="field field-name-hs_code">
			<label class="label" for="hs_code">
				<span>HS Code</span>
			</label>

			<div class="control">
				<input type="text" id="hs_code" name="hs_code" class="input-text" value="<?= $block->escapeHtml($block->getOrderData()['hs_code']) ?? '' ?>" />
			</div>
		</div>

		<div class="field field-name-declared_value">
			<label class="label" for="declared_value">
				<span>Declared Value</span>
			</label>

			<div class="control">
				<input type="text" id="declared_value" name="declared_value" class="input-text" value="<?= $block->escapeHtml($block->getOrderData()['declared_value']) ?? '' ?>" />
			</div>
		</div>
	</fieldset>

	<input type="checkbox" name="test" />
	<span>Test mode</span>

	<button type="submit" class="action save primary">
		Create Order
	</button>
</form>

<script type="text/x-magento-init">
    {
        "#form-validate": {
            "addressValidation": {}
        },
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": true,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?= /* @noEscape */ $this->helper(\Magento\Directory\Helper\Data::class)->getRegionJson() ?>,
                "defaultRegion": "<?= (int) $block->getRegionId() ?>",
                "countriesWithOptionalZip": <?= /* @noEscape */ $this->helper(\Magento\Directory\Helper\Data::class)->getCountriesWithOptionalZip(true) ?>
            }
        }
    }
</script>
