<?php if($block->getError()): ?>
	<div class="message error">
		<span><?= $block->escapeHtml($block->getError()->getMessage()) ?></span>
	</div>
<? else: ?>
	<a href="<?= $block->getUrl('tradeportal/sales/import') ?>">
		<button class="action primary">
			Import Orders
		</button>
	</a>

	<a href="<?= $block->getUrl('tradeportal/sales/create') ?>">
		<button class="action primary">
			Create Single Order
		</button>
	</a>

	<p />

	<div class="message info empty">
		<span>Please note that some orders may take up to an hour to appear.</span>
	</div>

	<?php $result = $block->getOrders(); ?>
	<?php $_orders = $result['data']['orders']['items']; ?>
	<?php $pages = $result['data']['orders']['pages']; ?>

	<?php if ($_orders && count($_orders)): ?>
		<div class="table-wrapper orders-history">
			<table class="data table table-order-items history" id="my-orders-table">
				<caption class="table-caption"><?= __('Orders') ?></caption>

				<thead>
					<tr>
						<th scope="col" class="col id">
							<?= __('Order #') ?>
						</th>

						<th scope="col" class="col date">
							<?= __('Date') ?>
						</th>

						<th scope="col" class="col shipping">
							<?=  __('Ship To') ?>
						</th>

						<th scope="col" class="col status">
							<?= __('Status') ?>
						</th>

						<th scope="col" class="col actions">
							<?= __('Action') ?>
						</th>
					</tr>
				</thead>
				<tbody>
					<?php foreach ($_orders as $_order): ?>
						<tr <?php if($_order['has_error']): ?>style="color: white; background: red;"<?php endif; ?>>
							<td data-th="<?= $block->escapeHtml(__('Order #')) ?>" class="col id">
								<?= $block->escapeHtml($_order['external_ref']) ?>
							</td>

							<td data-th="<?= $block->escapeHtml(__('Date')) ?>" class="col date">
								<?= $block->formatDate($_order['creation_datetime']) ?>
							</td>

							<td data-th="<?= $block->escapeHtml(__('Ship To')) ?>" class="col shipping">
								<?= $block->escapeHtml($_order['customer_name']) ?>
							</td>

							<td data-th="<?= $block->escapeHtml(__('Status')) ?>" class="col status">
								<?= $block->escapeHtml($_order['status_name']) ?>
							</td>

							<td data-th="<?= $block->escapeHtml(__('Actions')) ?>" class="col actions">
								<a href="<?= $block->getViewUrl($_order) ?>" class="action view">
									<span><?= __('View Order') ?></span>
								</a>
							</td>
						</tr>
					<?php endforeach; ?>
				</tbody>
			</table>
		</div>

		<div class="order-products-toolbar toolbar bottom">
			<div class="pager">
				<p class="toolbar-amount">
					<span class="toolbar-number">Items <?= $pages['firstItemNumber'] ?> to <?= $pages['lastItemNumber'] ?> of <?= $pages['totalItemCount'] ?> total</span>
				</p>
		
				<div class="pages">
					<strong class="label pages-label" id="paging-label">Page</strong>
					<ul class="items pages-items" aria-labelledby="paging-label">
						<li class="item pages-item-previous">
							<a class="action  previous" href="<?= $block->getUrl($block->getPath(), [ '_current' => true, '_query' => [ 'p' => $pages['current'] - 1 ] ]) ?>" title="Previous">
								<span class="label">Page</span>
								<span>Previous</span>
							</a>
						</li>

						<li class="item current">
							<strong class="page">
								<span><?= $pages['current'] ?></span>
							</strong>
						</li>
				
						<li class="item pages-item-next">
							<a class="action  next" href="<?= $block->getUrl($block->getPath(), [ '_current' => true, '_query' => [ 'p' => $pages['current'] + 1 ] ]) ?>" title="Next">
								<span class="label">Page</span>
								<span>Next</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	<?php else: ?>
		<div class="message info empty">
			<span><?= __('You have placed no orders.') ?></span>
		</div>
	<?php endif ?>
<?php endif ?>

