<form action="<?= $block->escapeUrl($block->getActionUrl()) ?>" method="post" enctype="multipart/form-data">
	<?= $block->getBlockHtml('formkey') ?>

	<div class="message info">
		<span>Please ensure your CSV is correct and of the right format before uploading.</span>
	</div>

	<div class="message info">
		<span>Your import may take several seconds to complete. Please don't navigate away from this page during that time.</span>
	</div>


	<input type="file" name="upload" />

	<input type="checkbox" name="test" />
	<span>Test mode</span>

	<button type="submit" class="action save primary">
		Import
	</button>
</form>
