<?php if($block->getError()): ?>
	<div class="message error">
		<span><?= $block->escapeHtml($block->getError()->getMessage()) ?></span>
	</div>
<?php else: ?>
	<?php $order = $block->getOrder(); ?>

	<?php if($order['has_error']): ?>
	<div class="message error">
		<span><?= $block->escapeHtml($order['error_message']) ?></span>
	</div>
	<?php endif; ?>

	<div class="block block-order-details-view">
		<div class="block-title">
			<strong><?= __('Order Information') ?></strong>
		</div>

		<div class="block-content">
			<div class="box">
				<dl>
					<dt><strong>Date</strong></dt>
					<dd><?= $block->formatDate($order['creation_datetime']) ?></dd>
				</dl>

				<dl>
					<dt><strong>Status</strong></dt>
					<dd><?= $block->escapeHtml($order['status_name']) ?></dd>
				</dl>

				<a href="#" data-post='<?php echo
					$this->helper(\Magento\Framework\Data\Helper\PostHelper::class)
						->getPostData($block->getReorderUrl($order))
				?>' class="action order">
					<span><?= /* @escapeNotVerified */ __('Reorder') ?></span>
				</a>
			</div>

			<div class="box box-order-shipping-address">
				<strong class="box-title"><span><?= __('Billing Address') ?></span></strong>

				<div class="box-content">
					<address>
						<?= $block->escapeHtml($order['billing_customer_name']) ?><br />
						<?= $block->escapeHtml($order['billing_address_1']) ?><br />
						<?= $block->escapeHtml($order['billing_address_2']) ?><br />
						<?= $block->escapeHtml($order['billing_address_3']) ?><br />
						<?= $block->escapeHtml($order['billing_address_4']) ?><br />
						<?= $block->escapeHtml($order['billing_address_5']) ?><br />
						<?= $block->escapeHtml($order['billing_postcode']) ?><br />
					</address>
				</div>
			</div>
		
			<div class="box box-order-shipping-address">
				<strong class="box-title"><span><?= __('Shipping Address') ?></span></strong>

				<div class="box-content">
					<address>
						<?= $block->escapeHtml($order['customer_name']) ?><br />
						<?= $block->escapeHtml($order['shipping_address_1']) ?><br />
						<?= $block->escapeHtml($order['shipping_address_2']) ?><br />
						<?= $block->escapeHtml($order['shipping_address_3']) ?><br />
						<?= $block->escapeHtml($order['shipping_address_4']) ?><br />
						<?= $block->escapeHtml($order['shipping_address_5']) ?><br />
						<?= $block->escapeHtml($order['shipping_postcode']) ?><br />
						<?= $block->escapeHtml($order['shipping_country_code']) ?>
					</address>
				</div>
			</div>

			<div class="box box-order-shipping-method">
				<strong class="box-title">
					<span><?= __('Shipping Method') ?></span>
				</strong>

				<div class="box-content">
					<?= $block->escapeHtml($order['shipping_method']) ?>
					<?= $block->escapeHtml($order['shipping_carrier']) ?>
				</div>
			</div>
		</div>
	</div>

	<div class="block block-order-details-view">
		<div class="block-title">
			<strong><?= __('Order Items') ?></strong>
		</div>

		<div class="block-content">
			<table class="data table table-order-items">
				<thead>
					<tr>
						<th class="col name"><?= __('Thumbnail') ?></th>
						<th class="col name"><?= __('Product Name') ?></th>
						<th class="col sku"><?= __('SKU') ?></th>
						<th class="col qty"><?= __('Qty') ?></th>
					</tr>
				</thead>

				<tbody>
					<?php foreach($order['items']['items'] as $item): ?>
					<tr>
						<td>
							<?php if($item['thumbnail']): ?>
							<img style="width: 100px; height: auto;" src="<?= $block->escapeHtml($item['thumbnail']['url']) ?>" />
							<?php endif; ?>
						</td>
						<td><?= $block->escapeHtml($item['description']) ?></td>
						<td><?= $block->escapeHtml($item['sku']) ?></td>
						<td><?= $block->escapeHtml($item['quantity']) ?></td>
					</tr>
					<?php endforeach; ?>
				</tbody>
			</table>
		</div>
	</div>
<?php endif; ?>
